.section{
    text-align: left;
     font-family: var(--font-dm-sans);
  

     h2{
        font-size: 1rem;
     }
}

.cardsContainer{
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;

}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem;
    background-color: var(--Neutral800);
    width: 100%;
    max-width: 80px;
    border-radius: 8px;
    font-size: 1rem;
    border: 2px solid var(--Neutral700);
    text-transform: capitalize;

    div{
        display: flex;
        width: 100%;
        justify-content: space-between;

    }

    img{
        width: 50px;
    }
}

@media (min-width:768px) {
    .section{
           grid-area: daily;
    }
    
}