.dropdown {
  list-style-type: none;
  border-radius: 5px;
  margin: 0;
  display: grid;
  padding: 0;
}

.dropdown li {
  background-color: var(--Neutral700);
  overflow: hidden;
  position: relative;
  height: 36px;
  border-radius: 5px;
  margin-bottom: 8px;
}

.dropdown li::before {
  content: "";
  position: absolute;
  inset: 0;
  /* top:0; right:0; bottom:0; left:0 */
  transform: translateX(-100%);
  background: linear-gradient(to right,
      transparent,
      rgba(255, 255, 255, 0.6),
      transparent);
  animation: shimmer 2s infinite;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

@media (min-width:768px){
.dropdown{
  max-width: 400px;
}
}