.section {
    display: grid;
    gap: 1rem;
    font-family: var(--font-dm-sans);
    margin: auto;
    justify-content: center;
    width: 100%;
}

.header {
    display: grid;
    background-image: url(/assets/images/bg-today-small.svg);
    background-size: cover;
    text-align: center;
    padding: 2rem;
    border-radius: 20px;

    p:first-child {
        font-weight: 700;
        font-size: 1.5rem;
        text-transform: capitalize;

    }

    p:nth-child(2) {
        color: var(--Neutral200);
        text-transform: capitalize;
    }

}

.header div {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
        font-size: 5rem;
        font-weight: 600;
        margin: 0;

    }

    img {
        max-width: 100px;
    }
}

.cardContainer {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  
}

.cardContainer div {
    background-color: var(--Neutral800);
    border: 2px solid var(--Neutral700);
    padding: 1rem;
    border-radius: 8px;
    text-align: left;
    display: grid;
    gap: 1rem;

    p:first-child {
        color: var(--Neutral200);
        margin: 0;

    }

    p:last-child {
        font-size: 1.5rem;
        margin: 0;
    }
}