.page {
  background-color: var(--Neutral900);
  min-height: 100vh;
  color: var(--Neutral0);
  font-family: var(--font-bricolage);
  display: grid;
  padding-block: 2rem;
  padding-inline: 1rem;
  justify-content: center;
  

}

.main {
  display: grid;
  text-align: center;
  width: 100%;
  max-width: 400px;
  gap: 1rem;
  height: fit-content;
}



@media (min-width:768px) {
  .main {
    grid-template-areas:
      "title  title"
      "form form"
      "today hourly"
      "daily hourly";
    max-width: none;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;

  }
  .main h1 {
  grid-area: title;
}


}